.stars-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 320px;
  height: 60px;
  border-radius: 10px;
  background-color: #333230;
  font-size: 10px;
  color: gold;
}

.discription {
  width: 320px;
  color: #fff;
  font-weight: 100;
  letter-spacing: 0.2px;
}
